[project]
	description = The 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alan Clucas (Joibel)
[access "refs/for/refs/*"]
	read = group user/Alan Clucas (Joibel)
	push = group user/Alan Clucas (Joibel)
	label-Code-Review = -2..+2 group user/Alan Clucas (Joibel)
	label-Verified = -1..+1 group user/Alan Clucas (Joibel)
	rebase = group user/Alan Clucas (Joibel)
	removeReviewer = group user/Alan Clucas (Joibel)
	submit = group user/Alan Clucas (Joibel)
[access "refs/heads/*"]
	read = group user/Alan Clucas (Joibel)
	create = group user/Alan Clucas (Joibel)
	push = +force group user/Alan Clucas (Joibel)
	pushMerge = group user/Alan Clucas (Joibel)
[access "refs/tags/*"]
	push = group user/Alan Clucas (Joibel)
	push = +force group user/Alan Clucas (Joibel)
